html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#dropbox-input {
  display: none;
}

#dropbox-area {
  display: flex;
  position: absolute;
  z-index: 999;
  width: 50%;
  height: 66%;
  top: 17%;
  left: 25%;
  border: 0.4vw dashed #8ec5ca;
  border-radius: 2vw;
  background-color: #e8e5eb;
  text-align: center;
}

.file-over {
  background-color: #f6f4f8!important;
}

#dropbox-label {
  margin: auto;
  display: flex;
  width: 7vw;
  height: 15%;
  min-width: 24px;
  min-height: 30px;
  border: 0.14vw dashed gray;
  border-radius: 0.5vw;
  font-size: calc((1.2vw + 1.2vh) * 0.7);
  background-color: #d3d3d3;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

#dropbox-label:hover {
  background-color: #ebebeb;
}